<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		">

	<ctx:component-scan base-package="com.hongan.oa.model.web.controller" />
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" p:order="1"/>
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" p:order="2"/>
	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"  p:order="3"/>
	

	
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />
	
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
    	<property name="maxUploadSize" value="10240000"/>  
	</bean>
    
	<bean id="directViewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		p:viewClass="org.springframework.web.servlet.view.JstlView"
		p:order="0" p:viewNames="*.html,*.jsp" />
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:viewClass="org.springframework.web.servlet.view.JstlView"
		p:prefix="/page/" 
		p:suffix=".jsp" 
		p:contentType="text/html;charset=UTF-8" />

	<!-- mvc:view-controller使用与直接指定页面的跳转，不用经过分发器复杂的分发过程 -->
	<mvc:view-controller path="/test" view-name="left.html"/>
	<mvc:default-servlet-handler/>


	<aop:aspectj-autoproxy proxy-target-class="true" />
	<aop:config proxy-target-class="true"></aop:config>
	
		
</beans>