.imContent {
	border: none;
	overflow: hidden;
	position: static;
}

.im_msg_view {
	overflow-y: auto;
	background: white;
	border-style: solid;
	border-width: 1px 0px 0px;
	border-color: #B8D0D6;
}

.im_msg_footer {
	overflow: hidden;
	border-style: solid;
	border-width: 1px 0px;
	border-color: #B8D0D6;
}

.im_msg_icon {
	height: 26px;
}

.im_msg_icon>ul {
	height: 100%;
}

.im_msg_icon>ul>li {
	float: left;
	padding-right: 3px;
	padding-top: 1px;
}

.im_msg_icon>ul>li:last-child, .im_msg_icon>ul>li:last-child span {
	float: right;
}

.im_msg_tools {
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
	border-radius: 3px;
	display: block;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	cursor: pointer;
}

.im_msg_tools:HOVER {
	border-color: #B8D0D6;
}

.im_msg_icon .focus {
	border-color: #B8D0D6;
	background: #D1DAE9;
}

.im_msg_tools img {
	height: 20px;
	width: 20px;
	vertical-align: middle
}

.im_msg_editarea {
	position: relative;
	height: 67px;
}

div.msgarea {
	position: absolute;
	z-index: 1;
}

div.msgarea textarea {
	height: 60px;
	resize: none;
	font-size: 14px;
	border: none;
	padding: 7px 4px 0 4px;
}

div.editarea {
	position: absolute;
	z-index: 2;
	background-color: white;
	height: 60px;
	resize: none;
	font-size: 14px;
	border: none;
	padding: 7px 4px 0 4px;
	overflow-y: auto;
	word-wrap: break-word; /*遇到空格整个单词显示不完就自动换行到下一行*/
	word-break: break-all; /*如果一行没有空格就到头截断单词换行*/
	height: 60px;
	word-break: break-all;
}

div.editarea:FOCUS {
	background-color: white;
}

.im_msg_close_send {
	margin: 5px 2px 2px 0;
	float: right;
}

.im_msg_close_send .btn {
	border-radius: 14px;
}

.im_msg_close_send .btn:FOCUS {
	background: #D1DAE9;
}

.fontTools {
	height: 23px;
	padding: 5px;
	display: none;
}

.fontTools>div {
	float: left;
	padding-right: 10px;
	background: transparent;
}

.fontTools select {
	margin: 0 0 0 5px;
	height: 23px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.qqFace {
	background: #fff;
	padding: 2px;
	border: 1px #dfe6f6 solid;
	border-radius: 5px;
}

.qqFace table td {
	padding: 0px;
}

.qqFace table td img {
	cursor: pointer;
	border: 1px #fff solid;
}

.qqFace table td img:hover {
	border: 1px #0066cc solid;
}