.imContent {
	border: none;
	overflow: hidden;
	position: static;
}

.im_msg_view {
	overflow-y: auto;
	background: white;
	/* 	border-style: solid; */
	/* 	border-width: 1px 0px 0px; */
	/* 	border-color: #B8D0D6; */
}

.im_msg_footer {
	overflow: hidden;
	border-style: solid;
	border-width: 1px 0px 0px;
	border-color: #B8D0D6;
}

.im_msg_icon {
	height: 26px;
}

.im_msg_icon>ul {
	height: 100%;
	padding: 0 0 0 2px;
}

.im_msg_icon>ul>li {
	float: left;
	padding-right: 3px;
	padding-top: 1px;
}

.im_msg_icon>ul>li:last-child, .im_msg_icon>ul>li:last-child a,
	.im_msg_icon>ul>li:last-child span {
	float: right;
}

.im_msg_tools {
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
	border-radius: 3px;
	display: block;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	cursor: pointer;
}

.im_msg_tools:HOVER {
	border-color: #B8D0D6;
}

.im_msg_icon .focus {
	border-color: #B8D0D6;
	background: #D1DAE9;
}

.im_msg_tools img {
	height: 20px;
	width: 20px;
	vertical-align: middle
}

.im_msg_editarea {
	position: relative;
	height: 67px;
}

div.editarea {
	background-color: white;
	height: 60px;
	resize: none;
	font-size: 14px;
	border: none;
	padding: 7px 4px 0 4px;
	overflow-y: auto;
	word-wrap: break-word; /*遇到空格整个单词显示不完就自动换行到下一行*/
	word-break: break-all; /*如果一行没有空格就到头截断单词换行*/
	height: 60px;
	word-break: break-all;
}

div.editarea:FOCUS {
	background-color: white;
}

.im_msg_close_send {
	margin: 5px 2px 2px 0;
	float: right;
}

.im_msg_close_send .btn {
	border-radius: 14px;
}

.im_msg_close_send .btn:FOCUS {
	background: #D1DAE9;
}

.fontTools {
	height: 23px;
	padding: 5px;
	display: none;
}

.fontTools>div {
	float: left;
	padding-right: 10px;
	background: transparent;
}

.fontTools select {
	margin: 0 0 0 5px;
	height: 23px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/*聊天记录显示*/
.im_msg_box {
	margin: 10px 5px;
}

.im_msg_box_time {
	color: #B2B2B2;
	font-size: 12px;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	display: block;
	text-shadow: 1px 1px 0px #FFF;
}

.from .im_msg_box_time {
	text-align: left;
}

.from .im_msg_popbox {
	position: relative;
	display: inline-block;
	padding-right: 50px;
}

.from .im_msg_popbox_avatar {
	top: 0px;
	position: absolute;
	width: 40px;
	height: 40px;
}

.im_msg_popbox_avatar img {
	width: 40px;
	height: 40px;
}

.from .im_msg_popbox_content {
	display: inline-block;
	padding: 10px;
	margin-left: 45px;
	position: relative;
	border: 1px solid #D6D6D6;
	background: #FFF none repeat scroll 0% 0%;
	color: #505050;
	border-radius: 4px;
	word-break: break-all;
}

.to {
	text-align: right;
}

.to .im_msg_box_time {
	text-align: right;
}

.to .im_msg_popbox {
	position: relative;
	margin-left: 50px;
}

.to .im_msg_popbox_avatar {
	width: 40px;
	height: 40px;
	top: 0px;
	right: 0px;
	position: absolute;
}

.to .im_msg_popbox_content {
	display: inline-block;
	padding: 10px;
	margin-right: 45px;
	position: relative;
	border: 1px solid #D6D6D6;
	background: #D7EBFE none repeat scroll 0% 0%;
	color: #505050;
	border-radius: 4px;
	word-break: break-all;
}