.infoNav {
	text-align: center;
	margin-top: 10px;
	height: 40px;
}

.infoNav .navin {
	width: 40px;
	height: 40px;
	float: left;
	padding-right: 15px;
}

.infoNav .nav-item {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.nav-item>div {
	margin-top: 2px;
	width: 35px;
	height: 35px;
}

.navin .selected {
	background-color: #FFF;
	border-radius: 10px;
}

.infoNav .nav-content {
	display: none;
	z-index: 200;
	background-color: rgb(255, 255, 255);
	position: relative;
	text-align: center;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: #FFF #CCC #CCC;
	border-radius: 10px;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	margin: 0px;
	box-shadow: 0px 0px 8px 0px #B6B6B6;
	top: -2px;
}

.infoNav .avtar-content {
	cursor: default;
	width: 250px;
	height: 160px;
	left: -100px;
}

.avtar-content .avtar-top {
	height: 100px;
	border-bottom: 1px solid #CCC;
	padding: 10px;
}

.avtar-content .avtar-img {
	overflow: hidden;
	width: 80px;
	height: 80px;
	float: left;
}

.avtar-content .avtar-img img {
	width: 80px;
	height: 80px;
}

.avtar-content .avtar-info {
	margin-left: 95px;
	text-align: left;
	height: 100%;
}

.avtar-info .avtar-info-name, .avtar-info-name span {
	color: #333;
	font-size: 16px;
	font-weight: normal;
	margin: 5px 0px;
}

.avtar-info-name span {
	float: left;
}

.avtar-info .avtar-info-online {
	float: left;
	width: 16px;
	height: 16px;
	margin: 5px 5px;
}

.avtar-info-online img {
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.infoNav .msg-content {
	width: 300px;
	padding: 10px 15px;
}

.msg-content .nav-tabs {
	border-bottom: 1px solid #DDD;
	margin-left: 0px;
	margin-bottom: 20px;
	height: 37px;
}

.nav-tabs li {
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	text-align: center;
	float: left;
	line-height: 20px;
	margin-bottom: -1px;
}

.nav-tabs li a {
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0px 0px;
}

.nav-tabs li a {
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	display: block;
}

.nav-tabs li a:HOVER {
	text-decoration: none;
	background-color: #dcdcdc;
	border-bottom: none;
}

.nav-tabs .active a, .nav-tabs .active a:HOVER {
	background: #FFF none repeat scroll 0% 0%;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD #DDD transparent;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	cursor: default;
}

.nav-tabs .active a {
	outline: medium none;
	color: #2F80D1;
}

.avtar-info-tip {
	display: none;
	width: 50px;
	height: 70px;
	padding: 5px 0px;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 10px;
}

.avtar-info-tip span {
	padding: 0px;
	margin: 0px;
	float: none;
	font-size: 12px;
}

.avtar-info-tip a {
	height: 20px;
	padding: 2px 0px;
	float: left;
}

.avtar-info-tip a:HOVER span {
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}

.avtar-info-tip img {
	width: 16px;
	height: 16px;
}

.show_status {
	display: block;
}

.avtar-content .avtar-foot {
	cursor: inherit;
	height: 40px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.avtar-foot a {
	display: inline-block;
	padding: 10px 43px;
	text-decoration: none;
}

.avtar-foot a:hover, .avtar-foot a:FOCUS {
	color: #005580
}

.avtar-foot #person_center {
	border-right: 1px solid #ddd;
}

.infoNav .theme-content {
	width: 103px;
	height: 30px;
	left: -30px;
}

#theme-content .themeList {
	top: 10px;
	right: 5px;
}
/* #theme-content .themeList li{padding: 5px 10px;} */
.accordion .progressBar-reb {
	width: 80px;
	height: 56px;
	margin-left: -72px;
	margin-top: -36px;
	padding: 0px 10px 0px 50px;
	background: rgb(255, 255, 255)
		url("../../dwz/themes/default/images/progressBar/progressBar_m.gif")
		no-repeat scroll 10px 18px;
}

.msg-content .nav-tabs-content {
	position: absolute;
	top: 60px;
	bottom: 10px;
	left: 15px;
	right: 15px;
	overflow: hidden;
}

.msg-content .nav-tabs-content .tab-pane {
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}

.msg-content .nav-tabs-content .active {
	display: block;
}

.time-info {
	padding: 10px 15px;
}

.mod-time-info {
	padding-bottom: 4px;
}

.mod-time-info .mod-time {
	font-size: 35px;
	line-height: 35px;
	color: #5B99EE;
}

.mod-time-info .mod-time-colon {
	position: relative;
	top: -3px;
}

.mod-time-info .twinkle {
	color: #DDDFEC;
}

.mod-time-info .mod-time-date {
	font-size: 14px;
	color: #FA0;
}

#mod-time-datecn {
	font-size: 12px;
}

.mod .city {
	position: absolute;
	top: 5px;
	right: 0px;
	cursor: pointer;
}

.mod #city {
	position: absolute;
	top: 20px;
	right: 5px;
	white-space: nowrap;
	color: #999;
}

.mod-bd .notip {
	width: 100%;
	text-align: center;
	color: #999;
}

.tab-pane .mod {
	margin-bottom: 5px;
}

.tab-pane .mod-hd {
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	position: relative;
	padding: 5px 0px;
	text-align: left;
}

.mod-hd-title {
	color: #05A;
}

.mod-bd {
	padding: 5px 0px;
	position: relative;
}

.mod-bd .weather-info {
	position: relative;
	padding: 10px;
	margin: 0px;
}

.mod-bd .tempimg {
	margin: 0px auto;
	text-align: center;
}

.mod-bd .temperature {
	font-size: 25px;
	line-height: 25px;
	margin: 10px 0px;
	color: #5B99EE;
}

.mod-bd .weather-info img {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 0px;
	border: 0px none;
}

.mod-bd .temp span {
	margin: 0px auto;
	text-align: center;
	font-size: 14px;
	color: #FA0;
	padding: 0px 5px;
}

.mod-bd .weather-areas {
	padding: 20px 0px;
	display: none;
}

.weather-areas select {
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	border: 1px solid #CCC;
	background-color: #FFF;
	line-height: 30px;
	padding: 4px 6px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 20px;
	border-radius: 4px;
	vertical-align: middle;
}

.weather-areas .weather-btns {
	text-align: right;
	padding-right: 13px;
}

.tab-pane .btn-group {
	position: relative;
	font-size: 0px;
	vertical-align: middle;
	white-space: nowrap;
	display: block;
	margin-bottom: 10px;
}

.btn {
	position: relative;
	padding: 4px 12px;
	margin: 0px;
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
	white-space: nowrap;
	font-family: Simsun, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #F3F3F3;
	background-image: linear-gradient(to bottom, #F5F5F5, #F1F1F1);
	background-repeat: repeat-x;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	box-shadow: none;
}

.btns .btn:HOVER {
	color: #5B99EE;
}

.btn-group .btn {
	width: 50%;
	cursor: pointer;
	border-radius: 0px;
}

.btn-group .btn:FIRST-CHILD {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
	margin-left: 0px;
}

.btn-group .btn:LAST-CHILD {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.btn-group .btn-mini {
	line-height: 13px;
	padding: 2px 6px;
}

.btn-group .btn:HOVER {
	z-index: 2;
	text-shadow: none;
	border-color: #C6C6C6;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #F8F8F8, #F1F1F1);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	transition: none 0s ease 0s;
}

.btn-group .btn span {
	padding: 4px 0px;
	display: inline-block;
	line-height: 13px;
}

.btn-group .seleted {
	border: 1px solid #3079ED;
	color: #FFF;
	background-color: #4B8CF7;
	background-image: linear-gradient(to bottom, #4D90FE, #4787ED);
	background-repeat: repeat-x;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}

.btn-group .seleted:hover {
	border: 1px solid #196AEB;
	color: #FFF;
	background-image: linear-gradient(to bottom, #4D90FE, #3078EB);
	background-repeat: repeat-x;
	background-color: #3078EB;
}

}
.btn-group .seleted:FOCUS {
	box-shadow: 0px 0px 0px 1px #FFF inset;
	border: 1px solid #3079ED;
}

.message-im {
	/* 	display: none; */
	width: 100%;
	overflow: hidden;
}

.message-im-info {
	height: 100%;
}

.message-im-list {
	margin: 0px;
	padding: 0px;
	bottom: 20px;
	overflow-x: hidden;
}

.message-im-list a {
	text-decoration: none;
}

.message-im-item {
	display: block;
	text-decoration: none;
	position: relative;
	padding: 5px;
	color: #333;
	border-bottom: 1px dotted #DDD;
	cursor: pointer;
	overflow: hidden;
}

.message-im-item>img {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	margin-top: 3px;
	float: left;
}

.im-info {
	margin-left: 50px;
	text-align: left;
}

.im-title {
	font-size: 14px;
}

.im-time {
	float: right;
	color: #999;
}

.im-content {
	color: #999;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
	line-height: 30px;
}

.message-im-item:HOVER {
	/* 	background-image: linear-gradient(to bottom, #faefc3, #faefc3); */
	
}

.message-im-item:FOCUS {
	background-image: linear-gradient(to bottom, #fdeba8, #fdeba8);
}

.dialogCombinableTitle {
	float: left;
	width: 200px;
	height: 100%;
	background-color: #E4E6F5;
	overflow: hidden;
	border-radius: 5px 0px 0px 5px;
}

.dialogCombinableList {
	margin: 0px;
	padding: 5px;
	overflow-x: hidden;
}

.dialogCombinableItem {
	display: block;
	text-decoration: none;
	position: relative;
	padding: 5px;
	color: #333;
	cursor: pointer;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 5px;
}

.dialogCombinableItem>img {
	height: 25px;
	width: 25px;
	border-radius: 20px;
	margin-top: 3px;
	float: left;
}

.dialogCombinableItem>p {
	line-height: 30px;
	font-size: 16px;
	padding: 0px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dialogCombinableItem>a {
	width: 11px;
	height: 11px;
	background: transparent
		url("../../dwz/themes/default/images/tabs/tabspage_icon.png")
		no-repeat scroll 0% 0%;
	display: block;
	position: absolute;
	top: 14px;
	right: 5px;
}

.dialogCombinableItem>a:HOVER {
	background-position: 0px -50px;
}

.dialog {
	border-width: 1px;
	border-style: solid;
	border-color: #CCC;
	border-radius: 5px;
}