<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongan.oa.mapper.system.MenuMapper">
	<resultMap type="menu" id="menuResultMap">
		<id column="MENU_ID" property="menuId" />
		<result column="TITLE" property="title" />
		<result column="MENU_URL" property="menuUrl" />
		<result column="MENU_TYPE" property="menuType" />
		<result column="PID" property="pId" />
		<result column="ICON" property="icon" />
		<result column="ENABLED" property="enabled" />
	</resultMap>

	<sql id="selectMenuSql">menu.MENU_ID,menu.TITLE,menu.MENU_URL,menu.MENU_TYPE,menu.PID,menu.ICON,menu.ENABLED</sql>
	
	<sql id="tableMenuSql">t_menu menu</sql>
	
	<select id="getMenuList" resultMap="menuResultMap">
		select
		<include refid="selectMenuSql" />
		from <include refid="tableMenuSql" /> where ENABLED = 1
	</select>

	<select id="getMenuByRoleIdMenuPid" resultMap="menuResultMap">
		select
		<include refid="selectMenuSql" />
		from <include refid="tableMenuSql" />, t_role_menu rm
		where menu.MENU_ID = rm.MENU_ID
		and rm.ROLE_ID = #{roleId}
		<choose>
			<when test="menuPid == null">and menu.PID is null</when>
			<otherwise>and menu.PID = #{menuPid}</otherwise>
		</choose>
	</select>
	
	<select id="getMenuByRoleIdsMenuPid" resultMap="menuResultMap">
		select <include refid="selectMenuSql"/> 
		from <include refid="tableMenuSql" />, t_role_menu rm
		where menu.MENU_ID = rm.MENU_ID 
		and rm.ROLE_ID in
		<foreach collection="roleIds" open="(" close=")" separator="," item="roleId">
			#{roleId}
		</foreach>
		<choose>
			<when test="menuPid == null">and menu.PID is null</when>
			<otherwise>and menu.PID = #{menuPid}</otherwise>
		</choose>
	</select>

</mapper>