<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongan.oa.mapper.system.SysUserMapper">
	<resultMap type="sysUser" id="SysUserResultMap">
		<id column="USER_ID" property="userId"/>
		<result column="USERNAME" property="username" />
		<result column="PASSWORD" property="password" />
		<result column="ENTRYTIME" property="entryTime" />
		<result column="ENABLED" property="enabled" />
		<result column="ACCOUNTNONLOCKED" property="accountNonLocked" />
		<result column="INITIALPSD" property="initialPsd"/>
		<result column="LOGIN_STATUS" property="loginStatus"/>
<!-- 		<association property="orgnaition" column="ORG_ID"/> -->
	</resultMap>
	
	<resultMap type="sysUserAttempts" id="SysUserAttemptsResultMap">
		<result column="USERNAME" property="username" />
		<result column="ATTEMPTS" property="attempts" />
		<result column="LAST_ERROR_TIME" property="lastErrorTime" />
	</resultMap>
	
	<resultMap type="userInfo" id="userInfoResultMap">
		<id column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="SEX" property="sex"/>
		<result column="EMAIL" property="email"/>
		<result column="TELPHONE" property="telPhone"/>
		<result column="MOBILEPHONE" property="mobilePhone"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="IMAGE" property="image"/>
	</resultMap>

	<sql id="selectSysUserSql">USER_ID,USERNAME,PASSWORD,ENTRYTIME,ENABLED,ACCOUNTNONLOCKED,INITIALPSD,LOGIN_STATUS,ORG_ID</sql>

	<sql id="selectSysUserAttemptsSql">USERNAME,ATTEMPTS,LAST_ERROR_TIME</sql>
	
	<sql id="selectUserInfoSql">ID,NAME,SEX,EMAIL,TELPHONE,MOBILEPHONE,BIRTHDAY,IMAGE</sql>
	
	<select id="getSysUserByUsername" resultMap="SysUserResultMap">
		select <include refid="selectSysUserSql"/> from t_sys_user where USERNAME = #{username}
	</select>
	
	<select id="saveFailAttempts">
		insert into t_sys_user_attempts
		(USERNAME,ATTEMPTS,LAST_ERROR_TIME)
		values
		(#{userAttempts.username},#{userAttempts.attempts},#{userAttempts.lastErrorTime})
	</select>
	
	<update id="updateSysUser">
		update t_sys_user set 
		USERNAME = #{user.username},
		PASSWORD = #{user.password},
		ENABLED = #{user.enabled},
		ACCOUNTNONLOCKED = #{user.accountNonLocked},
		INITIALPSD = #{user.initialPsd}
		where USER_ID = #{user.userId}
	</update>
	
	<update id="updateSysUserLoginStatus">
		update t_sys_user set 
		LOGIN_STATUS = #{loginStatus}
		where USER_ID = #{userId}
	</update>
	
	<select id="getFailAttemptsByUsername" resultMap="SysUserAttemptsResultMap">
		select <include refid="selectSysUserAttemptsSql"/> from t_sys_user_attempts where USERNAME = #{username}
	</select>
	
	<update id="updateFailAttempts">
		update t_sys_user_attempts set 
		ATTEMPTS = #{userAttempts.attempts},LAST_ERROR_TIME = #{userAttempts.lastErrorTime}
		where USERNAME = #{userAttempts.username}
	</update>
	
	<delete id="resetFailAttempts">
		delete from t_sys_user_attempts where USERNAME = #{username}
	</delete>

	<select id="getUserInfoById" resultMap="userInfoResultMap">
		select <include refid="selectUserInfoSql"/> from t_user_info where ID = #{id}
	</select>

</mapper>