.infoNav{text-align: center;margin-top: 10px;height: 40px;}
.infoNav .navin {width: 40px;height: 40px;float: left;padding-right: 15px;cursor:pointer;}
.infoNav .nav-item {width: 100%;height: 100%;}
.nav-item div{padding-top: 2px;width: 35px;height: 35px;}

.infoNav .avtar-man{background: transparent url("../images/man-menu.png") no-repeat scroll 0% 0%;}
.infoNav .avtar-woman{background: transparent url("../images/woman-menu.png") no-repeat scroll 0% 0%;}
.infoNav .manage{background: transparent url("../images/manage-menu.png") no-repeat scroll 0% 0%;}
.infoNav .msg{background: transparent url("../images/msg-menu.png") no-repeat scroll 0% 0%;}
.infoNav .theme{background: transparent url("../images/theme-menu.png") no-repeat scroll 0% 0%}
.navin .selected{background-color: #FFF;}

.infoNav .nav-content{display: none;z-index: 200;background-color: rgb(255, 255, 255);position: relative;text-align: center;border-width: medium 1px 1px;border-style: none solid solid;border-color: #FFF #CCC #CCC;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;margin: 0px;box-shadow: 0px 0px 8px 0px #B6B6B6;}
.infoNav .avtar-content{cursor:default;width:250px;height:160px;left:-100px;}
.avtar-content .avtar-top{height: 100px;border-bottom: 1px solid #CCC;padding: 10px;}
.avtar-content .avtar-img{overflow: hidden;width: 80px;height: 80px;float: left;}
.avtar-content .avtar-img img{width: 80px;height: 80px;}
.avtar-content .avtar-info{margin-left: 95px;text-align:left;height: 100%;}
.avtar-info .avtar-info-name , .avtar-info-name span{color: #333;font-size: 16px;font-weight: normal;margin: 5px 0px;}
.avtar-info-name span{float: left;}
.avtar-info .avtar-info-online{float: left;width: 16px;height: 16px;margin: 5px 5px;}
.avtar-info-online img{ cursor: pointer;width: 16px;height: 16px;}


.avtar-info-tip{display: none;width: 50px;height: 70px;margin-top: 5px;border: 1px solid rgb(238, 238, 238);}
.avtar-info-tip span{padding: 0px;margin: 0px;float: none;font-size: 12px;}
.avtar-info-tip a{height: 20px;}
.avtar-info-tip img{width: 20px;height: 20px;}
.show_status{display: block;}


.avtar-content .avtar-foot{cursor:inherit;height: 40px;padding: 0px;margin: 0px;text-align: center;}
.avtar-foot a{display: inline-block;padding: 15px 43px;text-decoration: none;}
.avtar-foot a:hover, .avtar-foot a:FOCUS{color: #005580}
.avtar-foot #person_center{border-right: 1px solid #ddd;}

.infoNav .theme-content{width: 103px;height: 30px;left: -40px;}



#theme-content .themeList{top: 10px;right: 5px;}
/* #theme-content .themeList li{padding: 5px 10px;} */

.accordion .progressBar-reb{width: 80px;height: 56px; margin-left: -72px; margin-top: -36px; padding: 0px 10px 0px 50px; background: rgb(255, 255, 255) url("../../dwz/themes/default/images/progressBar/progressBar_m.gif") no-repeat scroll 10px 18px}